# Visual Studio Code
.vscode/

# Mac
.DS_Store

# Build dirs
build/

# python cache
__pycache__
*.pyc

# emacs file
*~
\#*

# Temporary files
build_adjacency/*.g2o
build_adjacency/*.mtx

process_g2o/*.g2o
/*.g2o
/*.mtx
gtsam_optimize/*.g2o

debug.txt